<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iFrame</title>
    <link rel="stylesheet" href="/public/css/estilos.css">
</head>
<body>
    <h1 style="text-align: center;">Roja Directa 2</h1>
    <img src="/public/images/descarga.png" alt="">
</body>
</html>